extends default
block content
    //list the emails
    section.contact-main.py-5
        div.container.py-md-5
            h3.title-w3pvt.text-center Contact Us  
                span.fa.fa-envelope-open-o
                    div.text-left
                        h1.ml-1.mt-5 Ying Zhou 
                        p.ml-1 email : yinzhou1@student.unimelb.edu.au
                        h1.ml-1.mt-5 Chuwen Zhang 
                        p.ml-1 email : chuwenz@student.unimelb.edu.au
                        h1.ml-1.mt-5 Xiyan Zhang 
                        p.ml-1 email : xiyanz@student.unimelb.edu.au

                        