doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/css/styles.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body

        <div class="grid-container">
            div.header #{title}
            div.menu
            
                // display home page
                // route to open the User Add Form
                a(href='/') Home
                br
                
                // link to the route used to display current authors
                // in the database
                a(href='/account') Account overview
                br

                // link to the route used to display current authors
                // in the database
                a(href='/account/sign-up') Sign up here!
                br



        block content