doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css', media='all')
        link(rel='stylesheet', href='/stylesheets/font-awesome.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/parkingsensor.css')

        script(src='https://cdn.staticfile.org/jquery/3.2.0/jquery.min.js')
        script(src='https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js')
        script(src='https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')

       
    
        
        // Favicon
        link(rel='shortcut icon' href='https://city-of-melbourne.github.io/parking-map/city_of_melbourne.ico')
        // D3
        script(src='https://d3js.org/d3.v4.min.js')
        // Turf
        script(src='https://npmcdn.com/@turf/turf/turf.min.js')
        // Mapbox
        // Mapbox GL
        script(src='https://api.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js')
        link(href='https://api.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.css' rel='stylesheet')
        //script(src='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js')
        //link(href='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css' rel='stylesheet')
        // Mapbox Geocoder
        script(src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.js')
        link(rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.css' type='text/css')
        // Global site tag (gtag.js) - Google Analytics
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-87359806-2')
        
    
        
        
        //script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-87359806-2');
        //style.
            .mapboxgl-popup-content {
            background: hsla(0,0%,100%,0.9);
            padding:5px;
            }
    body
        header#home.py-sm-3.pt-3.pb-2
            <div class="container">
                div.top.d-md-flex
                    #logo
                        a(href='/')
                            |   Easiparking
                // check if logging in through cookie
                // if logging in, display links to the  route of account and log out      
                // if not logging in, display links to the route of log in and sign up
                if cookie
                    div.text-right
                        a.btn(href='/account/'+ cookie)
                            span.fa.fa-user-circle-o
                            |   #{cookie}
                        a.btn(href='/account/log-out')
                            span.fa.fa-sign-out
                            |   Log out
                else       
                    div.text-right
                        a.btn(href='/account/log-in') 
                            span.fa.fa-sign-in
                            |   Log in
                        a.btn(href='/account/sign-up')
                            span.fa.fa-pencil-square-o
                            |   Sign up

            nav.text-center
                label.toggle(for='drop')
                    span.fa.fa-bars
                input#drop(type='checkbox')
                ul.menu
                    li
                    a(href='/findCarPark') FindCarPark(Coming soon)
                    li
                    a(href='/parking') parking(Coming soon)
                    li
                    a(href='/contact') Contact us
                    li
            </div>        

        block content

        footer.footer-content.py-5
            div.container-fluid.inner-sec-w3ls
                div.row
                    div.col-lg-6.copy-w3pvt
                        p.copy-right-grids.text-li.text-left.my-sm-4.my-4
                            | &copy; 2020 Easiparking. All Rights Reserved | Design by
                            a(href='/contact')  The Fast and the Furious





