extends default

block content
    section.contact-main.py-5
        div.container.py-md-5
            h3.title-w3pvt.text-center MAP
            div.login.px-sm-4.mx-auto.mw-100.login-wrapper
                form.login-wrapper.w3pvt_mail_grid_right(method='POST' action='/findCarPark')
                  div.form-group
                    label.mb-2 choose a parking bay :
                    input.form-control(type='text', placeholder='enter parking bay id', name='location')
                  button.btn.btn-primary.submit.mt-2.read-more(type='submit') Submit

            //input.form-control(type='text', placeholder='enter your destination (longitude,latitude)', value = location, name='location')

            //#map(tabindex='0' aria-label='Map' width='800px' height='700px' style='position: absolute; width: 800px; height: 700px; cursor: pointer; left:260px;')    

            //#legend(style='display: block; width:200px;')
              .bullet(style='border-color: #ff8189')  
              |  15 minutes
              br
              .bullet(style='border-color: #ffb359')  
              |  30 minutes
              br
              .bullet(style='border-color: #fed771')  
              |  60 minutes
              br
              .bullet(style='border-color: #7bccc4')  
              |  120 minutes
              br
              .bullet(style='border-color: #43a2ca')  
              |  240 minutes
              br
              .bullet-occupancy(style='background-color: #000000')  
              |  Occupied
              br
              .bullet-occupancy(style='background-color: white')  
              |  Vacant
              br
              .bullet-disabled(style='border-color: #D4D6DB')  
              |  Disabled only
            //#permit-mode(style='display: block;width:200px; height:520px')
              input#permit(type='checkbox' name='permit')
              label(for='permit') Disabled permit
          
            //script(src='/parkingsensor/map.js')
          
            //from city of melbourne
            .clearfix
                iframe(title='Parking sensor map' frameborder='0' name='MSOPageViewerWebPart_WebPartWPQ1' width='100%' height='600px' src='https://city-of-melbourne.github.io/parking-map/#sensordata=vh2v-4nfs&baydata=ntht-5rk7' ddf_src='https://city-of-melbourne.github.io/parking-map/#sensordata=vh2v-4nfs&baydata=ntht-5rk7')
                    .UserGeneric
                    | The current browser does not support Web pages that contain the IFRAME element. To use this Web Part, you must use a browser that supports this element, such as Internet Explorer 7.0 or later.
                .ms-clear         