extends default

block content
    #home.main-content
        .overlay
            .container
                .banner-info.text-left
                    h3 Welcome to easiparking!


                    

   
