extends default

block content
    //form for update password
    section.contact-main.py-5   
    div.container.py-md-5
        h3.title-w3pvt.text-center Reset Your Password
        div.login.px-sm-4.mx-auto.mw-100.login-wrapper
            form.login-wrapper.w3pvt_mail_grid_right(method="POST" action='#')
                div.form-group
                    label.mb-2(for='passwordOne') Enter your new password:
                    input.form-control(type='text', placeholder='new password*' name='passwordOne' value=passwordOne required="")
                div.form-group
                    label.mb-2(for='passwordTwo') Enter your new password again:
                    // prevent same username by displaying the message
                    div.text-danger #{message}
                    input.form-control(type='password', placeholder='new password*' name='passwordTwo' value=passwordTwo required="")

                button.btn.btn-primary.submit.mt-2.read-more(type='submit') Reset password

