extends default

block content
    div.container.py-md-5
    h3.title-w3pvt.text-center My account
        div.login.px-sm-4.mx-auto.mw-100.login-wrapper
            table.gridtable
                tr
                    th Username:
                    td #{account.username}      
                tr
                    th Name:
                    td #{account.name}
                tr  
                    th Gender:
                    td #{account.gender}
                tr
                    th License:
                    td #{account.licenseId}
        div.text-center
            a.btn(href='/account/'+account.username+'/history') 
                span.fa.fa-list
                |    My Parking History
            a.btn(href='/account/'+account.username+'/update') 
                span.fa.fa-refresh
                |   Update

                
                    
                        
                        

