extends default

block content
    div.container.py-md-5
    h3.title-w3pvt.text-center My account
        div.main
            table
                tr
                    td username
                    td #{account.username}      
                tr 
                    td Name
                    td #{account.name}
                tr  
                    td Gender
                    td #{account.gender}
                tr
                    td License 
                    td #{account.licenseId}
        div.text-center
            a.btn(href='/parking/history') 
                span.fa.fa-list
                |    My Parking History
            a.btn(href='/account/'+account.username+'/update') 
                span.fa.fa-refresh
                |   Update

                
                    
                        
                        

